@tailwind base;
@tailwind components;
@tailwind utilities;

.main_container {
  @apply max-w-[1200px] mx-auto;
}

body {
  background-color: #111827;
  color: white;
}

input {
  background-color: #181f2d;
  border: none;
}

button {
  border: 2px solid white;
  background-color: #a28023;
  &:hover {
    background-color: #111827;
  }
}
